$light-grey-30: #e4e7ea;
$dark-grey-70: #1b2834;
$base-grey-60: #68717c;
$dark-blue-70: #2d74da;
$text-dark-color: $dark-grey-70;
$theme-base-70-color: $dark-blue-70;
$z-index-table-header: 9;

.bg-table {
  font-size: 14px;
  font-weight: 400;
  color: $text-dark-color;

  &__header {
    position: sticky;
    top: 0;
    z-index: $z-index-table-header;
    padding: 16px 24px 18px;
    box-sizing: border-box;
    background: white;
    border-bottom: 2px solid $base-grey-60;
  }

  &__header-title {
    font-weight: 600;
  }

  &__items {
    background: white;
  }

  &__item {
    padding: 14px 24px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid $light-grey-30;
  }

  &__attribute {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__placeholder {
    padding: 56px 0;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    color: $theme-base-70-color;
    background: white;
  }
}
