.info-wrapper {
  width: 80%;
  height: 94%;
  position: absolute;
  top: 12px;
  left: 10.5%;

  &__content {
    width: 100%;
    height: 100%;
    background-color: rgba(00, 00, 00, 0.8);
    color: white;
    display: flex;
    flex-direction: column;

    > span {
      max-width: 100% !important;
    }
  }

  &__upper {
    width: 100%;
    text-align: center;
  }

  &__body {
    flex: 1 1 auto;
  }

  &__lower {
    width: 100%;
    flex: 0 1 auto;
    text-align: center;
  }
}

.info-wrapper__content-appear {
  background-color: transparent;
}

.info-wrapper__content-appear.info-wrapper__content-appear-active {
  background-color: rgba(00, 00, 00, 0.8);
  transition: background-color .2s ease-in;
}

.info-wrapper__upper-appear {
  margin-top: -20px;
}

.info-wrapper__upper-appear.info-wrapper__upper-appear-active {
  margin-top: 0;
  transition: margin-top .2s ease-in;
}

.info-wrapper__lower-appear {
  margin-bottom: -20px;
}

.info-wrapper__lower-appear.info-wrapper__lower-appear-active {
  margin-bottom: 0;
  transition: margin-bottom .2s ease-in;
}
