.chapter-pages {
  &__container{
    .modal-content{
      max-height: 100% !important;
      width: 73%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img{
        max-height: 100vh;
        user-select: none;
      }
    }
  }

  &__all {
    display: flex;
    overflow: auto;
    position: relative;

    img{
      max-height: 100vh;
    }
  }

  &__current {
    display: flex;
    justify-content: center;
    img{
    }
  }
}