.navigation {
  z-index: 999;
  position: fixed;
}

.manga_list-appear {
  opacity: 0.01;
}

.manga_list-appear.manga_list-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.manga_image-appear {
  opacity: 0.01;
  margin-left: -50px
}

.manga_image-appear.manga_image-appear-active {
  opacity: 1;
  margin-left: 0;
  transition: opacity .15s ease-in, margin-left .15s ease-in;
}

.manga_description-appear {
  opacity: 0.01;
  margin-right: -100px;
}

.manga_description-appear.manga_description-appear-active {
  opacity: 1;
  margin-right: 0;
  transition: opacity .15s ease-in, margin-right .15s ease-in;
}


.box {
  border-radius: 0;
  flex-wrap: wrap;

  span {
    max-width: 16.66%;
  }

  .card {
    max-width: 100%;
    margin-right: 45px;
    margin-bottom: 20px;
  }
}

.pagination {
  width: 100%;
  margin-top: 5px !important;

  &-next {
    margin-right: 15px;
  }
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
}

.is-column {
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .navigation {
    position: absolute;
    z-index: 999;
  }
}

@media only screen and (max-width: 1539px) {
  .columns {
    .column {
      .card {
        width: 100% !important;
      }
    }
  }
}
