.navigation {
  z-index: 999;
  position: fixed;
}

.modal{
  justify-content: unset !important;
}

.box {
  border-radius: 0;
  flex-wrap: wrap;

  span {
    max-width: 16.66%;
  }
}

.pagination {
  width: 100%;
  margin-top: 5px !important;

  &-next {
    margin-right: 15px;
  }
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
}

.is-column {
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .navigation {
    position: absolute;
    z-index: 999;
  }
}

@media only screen and (max-width: 1539px) {
  .columns {
    .column {
      .card {
        width: 100% !important;
      }
    }
  }
}
